DJANGO_SECRET_KEY=changeme-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_TIME_ZONE=America/Mexico_City
DJANGO_USE_HTTPS=False
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SECURE_PROXY_SSL_HEADER_ENABLED=False
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
